[Unit]
Descption=Sagan remote experiment scheduler
After=network.target

[Service]
ExecStart=/opt/sagan-control-daemon/env/bin/python /opt/sagan-control-daemon/sagan-control-daemon.py c
