[Unit]
Descption=Sagan remote experiment scheduler
After=network.target

[Service]
WorkingDirectory=/opt/sagan-control-daemon/
ExecStart=/opt/sagan-control-daemon/env/bin/python /opt/sagan-control-daemon/sagan-control-daemon.py config.json
